# Anchor related
.anchor/
test-ledger/
target/
**/*.rs.bk

# Node.js
node_modules/
.yarn/
dist/
build/
*.log

# TypeScript
*.tsbuildinfo

# Environment
.env

# macOS
.DS_Store

# Editor-specific
.vscode/
